<head>
    <title>GOOGLE+ Authorization</title>
</head>	
<body>
<div class="container">
		</br>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>Google+ OAuth</</h1>
			</div>
			<a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=1021029081363-d54rsqg7encvkbg6g57ko85hk0p212b1.apps.googleusercontent.com&redirect_uri=https://wk7oauth.appspot.com/user&scope=email&state=secret700" class="btn btn-primary pull-middle" role="button">Click to start Google+ OAuth process</a>
		</div>
		<p>Privacy Policy: This is a school project. None of your data will be saved or used by the author of the application after the end of the semester 2018 fall semester at Oregon State University. </p>
</div>
</body>

